__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
.env
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.DS_Store
bin/
setup/ubuntu-22.04/certs/
setup/windows-11-wsl2-docker-desktop/.state/
setup/windows-11-wsl2-docker-desktop/.logs/
setup/windows-11-wsl2-docker-desktop/*.zip
k8s/overlays/dev/kong/ip-whitelist.yaml
