apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: app-secrets
  labels:
    app: api
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: app-secrets
    creationPolicy: Owner
    template:
      metadata:
        labels:
          app: api
          managed-by: external-secrets
        annotations:
          owner: braiton-platform-labs
          managed-by: external-secrets
  dataFrom:
    - extract:
        key: braiton-platform-labs/dev/reliable-message-api
